@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
html {
  /* background-image: url("http://www.patriotathome.org/wp-content/uploads/2016/11/blue-gradient-colors-gradient-blue-color-gradient-background-photoshop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: #4169E0;
}

input {
  outline: none;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 14px;
  /* font-smoothing: antialiased; */
}

.btn-primary {
  color: #fff;
  background-color: #e91e63 !important;
  border-color: #e91e63 !important;
  border-radius: 7px;
}

.btn-primary:hover {
  background-color: #83002c;
}

.page {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.pageHeader {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #002eb5;
  color: White;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 20px;
  vertical-align: middle;
}

.pageHeader .title {
  font-family: sans-serif;
  width: 40%;
  float: left;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: 700;
}

.pageHeader .userPanel {
  width: 40%;
  float: right;
}

.pageHeader .userPanel i {
  float: right;
  line-height: 40px;
  padding-right: 10px;
}

.pageHeader .userPanel .username {
  font-family: sans-serif;
  float: right;
  line-height: 40px;
  padding: 0px 20px;
  font-weight: 600;
  font-size: 1.0em;
}

.pageHeader .userPanel img {
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  clear: both;
  background-color: white;
}

.taskBox {
  height: 400px;
}

/*-----------------------------------------------------SCROLL BAR CUSTOMIZE-----------------------------------------------------*/

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #54b9cd;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #1d8094;
}

.main .nav {
  width: 200px;
  height: 100%;
  float: left;
  background-color: rgba(227, 234, 235, 0.8);
  display: block;
  position: relative;
}

.main .nav .searchbox {
  width: 170px;
  height: 30px;
  line-height: 30px;
  margin: 15px;
  background-color: White;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.main .nav .searchbox i {
  display: inline-block;
  color: #bbb;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.main .nav .searchbox input {
  display: inlin-block;
  width: 120px;
  background-color: White;
  color: Black;
  font-family: sans-serif;
  border: 0px;
}

.main .nav .menu {
  width: 100%;
  margin: 15px;
  color: #555;
  position: relative;
}

.main .nav .menu ul {
  padding-left: 0px;
}

.main .nav .menu ul li {
  font-family: sans-serif;
  cursor: pointer;
  list-style: none;
  margin: 5px 0px;
  padding: 5px 0px;
  font-weight: 600;
  margin-right: 30px;
  padding-left: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  transition: 0.25s all;
}

.main .nav .menu ul li.active {
  font-family: sans-serif;
  color: #E75516;
}

.main .nav .menu ul li:hover {
  background-color: #1ea9e94d;
}

.main .nav .menu ul li i {
  font-size: 1.4em;
  margin-right: 10px;
}

i.fas.fa-trash-alt.removeIcon {
  color: #c30000 !important;
}

.main .nav .menu ul li.active i {
  font-size: 1.4em;
  margin-right: 10px;
  color: #e91e63;
}

.main .view {
  position: relative;
  margin-left: 200px;
}

.main .view .viewHeader {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 20px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
}

.main .view .viewHeader .title {
  font-family: sans-serif;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  padding: 0px;
  color: rgb(95, 95, 95);
  margin-top: -18px;
}

.main .view .viewHeader .functions {
  float: right;
}

.main .view .viewHeader .functions .button {
  float: right;
  height: 30px;
  line-height: 30px;
  background-color: #AAA;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0px 5px;
  padding: 0px 20px;
  cursor: pointer;
  color: White;
  border: 3px solid rgba(0, 0, 0, 0);
  font-weight: 700;
  transition: 0.3s;
}

.main .view .viewHeader .functions .button:hover {
  background-color: #fff;
  border: 3px solid #aaa;
  color: #666;
  transition: 0.3s;
}

.main .view .viewHeader .functions .button.active {
  font-family: sans-serif;
  background-color: #e91e63;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.main .view .viewHeader .functions .button.inverz {
  background-color: inherit;
  border: 1px solid #AAA;
  width: 10px;
  color: #AAA;
  font-size: 1.3em;
  padding-left: 10px;
  padding-right: 16px;
}

.main .view .content {
  position: absolute;
  left: 0px;
  top: 70px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
}

.main .view .content .list .title {
  font-family: sans-serif;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #002eb5;
}

.main .view .content .list .ulTasks {
  width: 100%;
  padding-left: 10px;
  color: #777;
}

.main .view .content .list .ulTasks li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  list-style: none;
  border-top: 1px solid #AAA;
}

.main .view .content .list .ulTasks li:last-child {
  border-bottom: 1px solid #AAA;
}

.main .view .content .list .ulTasks li:hover {
  background-color: rgba(149, 149, 149, 0.164);
}

.main .view .content .list .ulTasks li i {
  float: left;
  width: 30px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  font-size: 1.3em;
}

.main .view .content .list .ulTasks li span {
  float: left;
  font-weight: 600;
}

li.allFolder {
  color: #2f8394;
}

.main .view .content .list .ulTasks li .info {
  float: right;
}

.main .view .content .list .ulTasks li .info span {
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 3px;
  font-size: 11px;
}

.main .view .content .list .ulTasks li .info .button {
  float: right;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #AAA;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 10px;
  text-align: center;
  cursor: pointer;
  color: White;
  font-weight: 700;
}

.main .view .content .list .ulTasks li .info .button.green {
  background-color: #85C157;
}

.clear {
  clear: both;
}

/* 
button styles
*/

.button-folder {
  font-family: sans-serif;
  margin: 12px;
  padding: 10px;
  background-color: #e91e63;
  color: #Fff;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 0 4px 0px #c20444;
  border-radius: 5px;
  transition: 0.3s;
  border: 3px solid rgba(0, 0, 0, 0);
}

.button-folder:hover {
  background-color: #fff;
  color: #750027;
  box-shadow: 0 0 4px 0px #750027;
  border: 3px solid #a10036;
  transition: 0.3s;
}

/* folders styles */

.main .nav .menu ul li .folders {
  color: #009688;
  text-decoration: none;
}

.main .nav .menu ul li.active .folders {
  color: #e91e63;
  text-decoration: none;
}

.menu .remove {
  color: rgb(170, 0, 0);
  position: absolute;
  right: 30px;
  font-size: 15px;
}

.menu .remove:hover {
  color: rgb(93, 0, 0);
}

.menu ul li {
  font-weight: bold;
  font-size: 17px;
}

/*-------------------------------------------------------style for attribute-------------------------------------------------------*/

#editId {
  position: relative;
}

#editId[titles]:hover::after {
  content: attr(titles);
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: #ffffff;
  background-color: #e91e63;
  width: 320px;
  padding: 10px 20px;
  border-radius: 30px 30px 30px 0;
  z-index: 9999;
}

#statusDone {
  position: relative;
}

#statusDone[titles]:hover::after {
  content: attr(titles);
  position: absolute;
  top: 35px;
  left: 15px;
  color: #ffffff;
  background-color: #006938;
  width: 380px;
  padding: 0 0 0 20px;
  border-radius: 0 30px 30px 30px;
  z-index: 9999;
}

#remove[titles]:hover::after {
  content: attr(titles);
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: #ffffff;
  background-color: #d42020;
  width: 280px;
  padding: 10px 20px;
  border-radius: 30px 30px 30px 0;
  z-index: 999999;
}

.menu ul li span {
  color: #2f8394;
}

.checked {
  background-color: #186b3b15;
}

/* --------------------------------------style to edit folder name modal-------------------------------------- */

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(56, 80, 187, 0.7);
  z-index: 999999999;
  display: none;
}

.modal .modalMain {
  width: 450px;
  height: 250px;
  background-color: #fff;
  z-index: 999999;
  border-radius: 10px;
  margin: 150px auto;
  position: relative;
}

.modal .modalMain .closeModalBtn {
  background: none;
  border: none;
  color: red;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 25px;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal .modalLable {
  position: absolute;
  top: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
}

.modal .modalMain .modalInput {
  width: 70%;
  padding: 7px 20px;
  border: 2px solid #2f8394;
  border-radius: 7px;
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}

#modalSubmitAdd {
  text-align: center;
  margin-left: 20px;
}

.modal .modalSubmit {
  position: absolute;
  bottom: 10px;
  left: 138px;
}

.main .view .viewHeader .functions .button.active:hover {
  background-color: #fff;
  border: 3px solid #a31443;
  color: #a31443;
  transition: 0.3s;
}

/* -------------------------------------- Remove Icon delete task -------------------------------------- */

.removeTask {
  color: rgb(163, 13, 13);
  font-size: 13px;
  vertical-align: -5px;
}

.removeTask:hover {
  color: rgb(202, 18, 18);
}

#removeTask {
  position: relative;
}

#removeTask[titles]:hover::after {
  content: attr(titles);
  position: absolute;
  top: 30px;
  right: 65px;
  color: #ffffff;
  background-color: #d42020;
  width: 230px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 30px 0px 30px 30px;
  z-index: 9999;
}

#editTask {
  position: relative;
}

#editTask:hover {
  cursor: pointer;
  color: #002715;
}

#editTask[titles]:hover::after {
  content: attr(titles);
  position: absolute;
  top: 35px;
  right: 30px;
  color: #ffffff;
  background-color: #006938;
  width: 230px;
  /* font-weight: bold; */
  text-align: center;
  border-radius: 30px 0px 30px 30px;
  font-size: 15px;
  z-index: 9999;
}

/*-------------------------------------- Fix The bug of UI page --------------------------------------  */

.itSelfSearchBox {
  border: 1px solid white;
  background-color: #fff;
}

.notExist {
  font-family: sans-serif;
  background-color: #002eb5;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  line-height: 45px;
  margin-top: 40px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 0;
  border: 5px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px 0 #0029a5;
  transition: 0.5s;
}

.notExist:hover {
  background-color: #fff;
  color: #002eb5;
  border: 5px solid #002eb5;
  cursor: pointer;
  transition: 0.5s;
}

*::selection {
  background-color: #ff5722;
  color: #fff;
}

.notExistFolder p {
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 35px;
  line-height: 60px;
  font-weight: bold;
  color: #3f51b5;
  position: relative;
  top: 55px;
}

.statusIcon {
  cursor: pointer;
}

/*-------------------------------------- DONE AND UNDONE STYLES TASK --------------------------------------  */

.fa-check-square {
  color: rgb(0, 158, 0);
}

.fa-square {
  color: #ff0000;
}

/*-------------------------------------- alert styles --------------------------------------  */

/* ALERTS */

/* inspired by Twitter Bootstrap */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  background-color: white;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}

.alert-green {
  color: white;
  background-color: #37BC9B;
}

.alert-blue {
  color: white;
  background-color: #4A89DC;
}

.alert-yellow {
  color: white;
  background-color: #F6BB42;
}

.alert-orange {
  color: white;
  background-color: #E9573F;
}

/*-------------------------------------- DROP DOWN FOR SORT TASK--------------------------------------  */

.dropdown, .dropend, .dropstart, .dropup {
  position: relative;
  right: 155px;
  bottom: 53px;
  text-align: center !important;
  font-family: sans-serif;
}

.dropdown-item {
  padding: 0 !important;
  text-align: center !important;
  background-color: rgb(90, 90, 90) !important;
  color: #fff !important;
}

.dropdown-menu {
  background-color: rgb(90, 90, 90) !important;
}

.dropdown-item:hover {
  background-color: rgb(73, 73, 73) !important;
}

/*-------------------------------------- STYLE FOR RESULT SEARCH BOX--------------------------------------  */

#resultSearch {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  z-index: 99999;
  position: relative;
  font-family: sans-serif;
}

#resultSearch a {
  display: block;
  padding: 5px 0;
  color: inherit;
  text-decoration: none;
  font-family: sans-serif;
}

#resultSearch a.notExistTask {
  color: #f44336;
}

#resultSearch a:hover {
  background-color: rgba(216, 112, 147, 0.061);
}

.main .nav .menu .title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.0em;
  text-transform: uppercase;
}

#navPag {
  display: block;
  width: 240px;
  position: absolute;
  bottom: 20px;
  left: 47%;
}

div.numOfUnDoneTask {
  position: absolute;
  bottom: 0px;
  background-color: #ff0000;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#muzic {
  position: absolute;
  right: 32%;
  top: 14.5px;
  font-family: sans-serif;
}

#muzic ul {
  background-color: #dc3545 !important;
}

#muzic .dropdown-item {
  background-color: #dc3545 !important;
}

#muzic .dropdown-item:hover {
  background-color: #d32435 !important;
}

.modalMainUpload {
  width: 40%;
  height: 400px;
  background-color: #fff;
  margin: 150px auto;
  border-radius: 10px;
  position: relative;
}

.modalMainUpload .closeUpload {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  color: red;
  font-size: 25px;
  border: none;
}

.modalLableUpload {
  font-family: sans-serif;
  font-size: 30px !important;
  line-height: 55px !important;
}

.modalInputUpload {
  border-radius: 10px;
  border: 1px solid #a31443;
  margin-top: 7px;
  text-align: center;
  letter-spacing: 5px;
  padding: 5px 10px;
}

.inputFile {
  display: none;
}

.uploadLabel {
  position: absolute;
  bottom: 60px;
  left: 42%;
  font-size: 80px;
  color: #fff;
  padding: 13px;
  border-radius: 20px;
  background: #011298;
  box-shadow: inset 5px 5px 0px #00073d, inset -5px -5px 0px #021df3;
}

.uploadLabel:hover {
  cursor: pointer;
}

.resultMotivation {
  padding: 10px 200px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 17px;
  width: 100%;
  background-color: #4169e0;
  color: #fff;
  letter-spacing: 10px;
}